:root{
    --green: rgb(0,150,136);
    --grey: rgb(218,219,211);
    --dark_grey: rgb(192,192,193);
    --azure: rgb(142,218,252);
    --light_grey: rgb(243,238,234); 
    --pistacchio: rgb(213,249,186);
}

ul {
    list-style-type: none;
}

html {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

#bg-green{
    background-color: var(--green);
    height: 145px;
    overflow: hidden;
}

#bg-grey{
    background-color: var(--grey);
    flex-grow: 1;
    height: calc(100vh - 145px);
    overflow: hidden;
}

.all-app{
    overflow: hidden;
}

.main{
    position: absolute;
    top: 26px;
    bottom: 26px;
    right: 195px;
    left: 195px;
}

/***********    
    SIDEBAR
*************/

.sidebar{
    width: 35%;
    background-color: white;
    height: 100%;
}

.app-container{
    height: 100%;
}

.bell-notice{
    font-size: 10px;
}

.icon-bell {
    color: var(--azure);
    background-color: white;
    border: 1px solid white;
    border-radius: 52px;
    padding: 3px;
    aspect-ratio: 4/1;
    text-align: center;
}

.notice {
    background-color: var(--azure);
}

.input-group-text {
    background-color: white!important;
}

.last-message{
    margin-bottom: 0;
    font-size: 10px;
}

.time-contact{
    font-size: 8px;
    padding: 5px;
    font-weight: 500;
}

.contact-list {
    overflow: auto;
}

.card-contact:hover{
    background-color: var(--light_grey);
}

.active{
    background-color: var(--light_grey);
}



/********** 
  MAIN-APP
***********/

.main-app{
    background-color: var(--grey);
    height: 100%;
    width: calc(100% - 35%);
    position: absolute;
    top: 0;
    right: 0;
}

.avatar-user {
    border-radius: 50px;
    margin: 5px;
}

.icon-side {
    display: flex;
    gap: 15px;
    margin: 5px;
    color: var(--dark_grey);
}

.footer-app, .header-app, .profile-user{
    background-color: var(--light_grey);
}

.message-app{
    background-image: url("./img/sfondo_booleazz.jpg");
    padding: 40px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.header-app {
    border-left: 1px solid var(--grey);
}

.chat {
    display: flex;
    border-radius: 13px;
    padding: 8px;
    justify-content: space-between;
    gap: 20px;
    max-width: 40%;
}

.time-chat {
    font-size: 8px;
    align-self: flex-end;
    margin-left: auto;
    
}

.sent {
    background-color: var(--pistacchio);
    align-self: flex-end;
}

.received {
    background-color: white;
    align-self: flex-start;

}

.dropdown {
    opacity: 0;
}

.dropdown:hover {
    opacity: 0.9;
}




