:root{
    --green: rgb(0,150,136);
    --grey: rgb(218,219,211);
    --dark_grey: rgb(192,192,193);
    --azure: rgb(142,218,252);
}

img {
    width: 100%;
}

#bg-green{
    background-color: var(--green);
    height: 145px;
    overflow: hidden;
}

#bg-grey{
    background-color: var(--grey);
    flex-grow: 1;
    height: calc(100vh - 145px);
    overflow: hidden;
}

.all-app{
    overflow: hidden;
}

.main{
    position: absolute;
    top: 26px;
    bottom: 26px;
    right: 195px;
    left: 195px;
}

.sidebar{
    width: 35%;
    background-color: white;
    height: 100%;
}

.app-container{
    height: 100%;
}

.main-app{
    background-color: #cddc39;
    height: 100%;
    width: calc(100% - 35%);
    position: absolute;
    top: 0;
    right: 0;
}

.avatar-user {
    border-radius: 50px;
    margin: 5px;
}

.icon-side {
    display: flex;
    gap: 15px;
    margin: 5px;
    color: var(--dark_grey);
}

.profile-user{
    background-color: var(--grey);
}

.bell-notice{
    font-size: 10px;
}

.icon-bell {
    color: var(--azure);
    background-color: white;
    border: 1px solid white;
    border-radius: 52px;
    padding: 3px;
    aspect-ratio: 4/1;
    text-align: center;
}

.notice {
    background-color: var(--azure);
}

.input-group-text {
    background-color: white!important;
}

.last-message{
    margin-bottom: 0;
    font-size: 7px;
}

.time-contact{
    font-size: 7px;
    padding: 5px;
    font-weight: 500;
}

.contact-list {
    overflow-y: auto;
}